<% provide(:title, 'Help') %>
<div id="about-container" class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Need Support?</h1>
    </br>
    </br>
      <p style = "color: white">We are just a call away! Feel free to contact CarePax if you are experiencing technical issues or would like to apply for a job.</p>
    </div>
  </div>
  </br>
  </br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Contact Us</h1>
    </div>
    </br>
    </br>
    <div class="row">
      <div class="col-md-2 col-md-offset-2" style = "width: 150px">
        <p style = "color: white; font-size = 40px"> (617)822-9913 </p>
      </div>
    </div>
    </br>
    </br>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <p style = "color: white; font-size = 40px">info@carepax.com</p>
      </div>
    </div>
  </div>
