<% provide(:title, 'Order') %>

<input id="pac-input" class="controls" type="text" placeholder="Choose a Different Location">
<div id="map-container">
  <div id="order-form">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-4">
                  <img class="driver-photo" alt="" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/000/01b/2aa/25ceac4.jpg"/>
              </div>
              <div class="col-sm-8">
                  <h1 class="name">Perry Donham</h1>
                  <div class="driver-info">
                      <i class="fa fa-car"></i>
                      <p class="car">1982 DeLorean DMC-12</p>
                      <p class="plate"><strong>PLATE:</strong> 220-ATZ</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <img alt="" src=""/>
              </div>
              <div class="col-sm-8">
                  
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <button class="order">Place Order</button>
              </div>
          </div>
      </div>
      <div class="order-close">
          <a href="#0">Close</a>
      </div>
  </div>
  <div id="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK15fSJUAnCidloXH9XwR9TV73ukZsyvI&libraries=places&callback=initMap" async defer></script>
