<div id="about-container">
    <div id="aboutTitle-container">
        <h1>Who we are</h1>
    </div>
</div>
<div id="aboutText-container">
    <p>
    	"CarePax is an elegant solution crafted around a simple idea; to make convenience products truly convenient. Our products are inventoried in our drivers' cars, and are drivin throughout the city 24/7. Simply log on to our platform to see all available drivers near you, and request a product in their inventory. Thats it! Within minutes the driver will show up at your door with the products you need."
    </p>
</div>
<div id="teamTitle-container">
    <h1>Meet the team</h1>
</div>
<div id="team-container">
	<div>
		<img src="Images/Ryan.jpg" alt="Ryan King">
		<h1>Ryan King</h1>
	</div>
	
	</br>

	<div>
		<img src="Images/David.jpg" alt="David Monti">
		<h1>David Monti</h1>
	</div>

	</br>
	
	<div>
		<img src="Images/Brent.jpg" alt="Brent Zhang">
		<h1>Brent Zhang</h1>
	</div>

	</br>

	<div>
		<img src="Images/Kevin.jpg" alt="Kevin Leung">
		<h1>Kevin Leung</h1>
	</div>
</div>
