<!doctype html>
<html class="no-js" lang="en">
        <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <title>CarePax</title>
                <link rel="stylesheet" href="../../../app/assets/stylesheets/application.css" />
                <script src="bower_components/modernizr/modernizr.js"></script>
        </head>
        <body>
            <div id = "welcome">
                <h1>Welcome to CarePax<h1>
            </div>
                <div id="bgMap"></div>
                <script type="text/javascript">
                        var bgMap;
                        function initMap() {
                                bgMap = new google.maps.Map(document.getElementById('bgMap'), {
                                        center: {lat: 42.35, lng: -71.108},
                                        zoom: 16
                                });
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                <script async defer
                         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK15fSJUAnCidloXH9XwR9TV73ukZsyvI&callback=initMap">
                </script>
                <script src="bower_components/jquery/dist/jquery.min.js"></script>
                <script src="bower_components/foundation/js/foundation.min.js"></script>
                <script src="js/app.js"></script>
        </body>
