/*************
 * Variables *
 *************/

/* Main Colorcheme */
$main: #263248;
$dark: #000000;
$light: #FFFFFF;
$mid: #7E8AA2;
$accent: #FF9800;

/* Font Stacks */
$sans-serif: 'adelle-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'adelle', Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;

