html, body {
    width: 100%;
    height: 100%;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gm-style * {
  width:auto;
  height:auto;
}
