form {
    padding: 2em;

    fieldset {
        margin: 2em 0;
        position: relative;

        &:first-of-type {
            margin-top: 0 !important;
        }

        &:last-of-type {
            margin-bottom: 0 !important;
        }

        label.icon {
            position: absolute;
            top: 50%;
            margin: 0 0.75em;
            color: darken($light, 20%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 1.5em;

            &.dropdown-icon {
                color: $main;
                top: calc(0.75em + 50%);
                right: 0;
            }
        }

        
        label.checkbox {
            margin: 0;
            display: inline-block;
        }

        legend {
            margin-bottom: 1em;
        }

        a.password-toggle {
            display: inline-block;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 0;
            color: $main;
            padding: 0.25em 0.75em;
            border-left: 1px solid darken($light, 20%);

            &:hover {
                text-decoration: none;
            }
        }

        input[type='text'], input[type='email'], input[type='password'], select, textarea {
            width: 100%;
            border: 1px solid darken($light, 20%);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            font-family: $sans-serif;
            height: auto;
            padding: 1em 1em 1em 4em;
            border-radius: 0.5em;

            &:focus {
                border: 1px solid $main;
            }
        }

        input.login-password {
            padding-right: 5.5em;
        }

        input[type='checkbox'] {
            margin: 0;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            padding: 1em 4em 1em 1em;
        }

        textarea {
            resize: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            padding: 1em;
        }

        input[type='submit'] {
            border-radius: 0.5em;
            width: 100%;
            background-color: $dark;
            padding: 1em;
            color: $light;
            font-weight: 700;
            border: none;

            &:hover {
                background-color: $mid;
                border: none;
            }
        }

        &.date {
            label:first-of-type {
                right: 67%;
            }

            label:nth-of-type(2) {
                right: 33%;
            }

            label:last-of-type {
                right: 0%;
            }

            select {
                display: inline-block;
                margin-right: 1em;
                padding: 1em;
                width: calc(33% - 0.67em);

                &:last-of-type {
                    float: right;
                    margin-right: 0;
                }
            }
        }

        span.error-message {
            color: $accent;
            font-size: 0.8em;
            display: inline-block;
            visibility: hidden;
            width: 100%;
            position: absolute;
            left: 0;
            top: 100%;
        }

        &.error {
            input {
                border: 1px solid $accent;
                color: $accent;

                &:focus {
                    border: 1px solid $accent;
                }
            }

            label {
                color: $accent;
            }
        }
    }
}