header#main-header {
  height: 5em;
  width: 100%;
  padding: 1em 0;
  background: rgba($main, 0.6);
  border-bottom: 0.125em solid $light;

  div.container {
    height: 100%;

    a#logo {
      float:left;;
      color: $light;
      font: normal normal 100 2em $sans-serif;
      letter-spacing: 0.1em;
      text-decoration: none !important;
      padding-top: 0.125em;

      &:hover {
        text-decoration: none;
        border-bottom: none;
      }
    }

    ul {

    }
  }
}
