<div class="popup">
  <div class="popup-container">
    <ul class="popup-switcher">
      <li><a href="#0">Login</a></li>
      <li><a href="#0">Register</a></li>
    </ul>

    <div class="popup-login">
        <%= render "sessions/new" %>
    </div>
    <div class="popup-register">
        <%= render "users/new" %>
    </div>
    <p class='popup-close'>
        <%= link_to 'Close', '#0' %>
    </p>
  </div>
</div>
